{
  "extends": "redacademy",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "no-plusplus": 0,
    "react/style-prop-object": 0,
    "import/prefer-default-export": 0
  }
}
